<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rajeev Prajapat</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="images/R-NameLogo-modified.png" type="image/x-icon">
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- FONT AWESOME  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- HEADER SECTION  -->
    <header class="header">
        <a href="#" class="logo">Rajeev Prajapat</a>
        <i class="fa-solid fa-bars-staggered" id="menu-icon"></i>
        <div class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>
    </header>

    <!-- HOME SECTION  -->

    <section class="home" id="home">
        <div class="home-content">
            <h3>HI, Myself</h3>
            <h1>Rajeev Prajapat</h1>
            <h3>And I'm a <span class="intro"></span></h3>
            <p>A passionate and dedicated software developer, looking for an opportunity to contribute to a dynamic team
                and grow my skills in software development.
            </p>
            <div class="social-media">
                <a href="https://www.instagram.com/rajeevprajapatt_?utm_source=qr&igsh=MTVmZGVjdGRjZHVmMA=="><i
                        class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/rajeev-prajapat-17619b258/"><i
                        class="fa-brands fa-linkedin"></i></a>
                <a href=" https://x.com/rajeevprajapatt?t=_JmQ40p3lyXQaCi-sev75A&s=08 "><i
                        class="fa-brands fa-x-twitter"></i></a>
                <a href="https://github.com/rajeevprajapatt"><i class="fa-brands fa-github"></i></a>
            </div>
            <a href="/ResumeDownload" class="btn">Download Resume</a>
        </div>

        <div class="home-img">
            <img src="images/rajeev-img.png" alt="">
        </div>
    </section>

    <!-- ABOUT SECTION  -->

    <section class="about" id="about">
        <div class="about-img">
            <img src="images/rajeev-img.png" alt="">
        </div>

        <div class="about-content">
            <h2 class="heading">ABOUT <span>Me</span></h2>
            <h3>Full Stack Developer</h3>
            <p>Hy Everyone, I am Rajeev Prajapat and I am from Jaipur. I am a passionate and dedicated software
                developer, and I am looking for an opportunity to contribute to a dynamic team and grow my skills in
                software development.
            </p>
            <a href="" class="btn">Read More</a>
        </div>
    </section>

    <!-- SKILLS SECTION  -->
    <section class="skills" id="skills">
        <h2 class="heading">Technical <span>Skills</span></h2>
        <div class="skills-container">
            <div class="skill-image">
                <img src="images/c-.png" alt="">
            </div>
            <div class="skill-image">
                <img src="images/python.png" alt="">
            </div>
            <div class="skill-image">
                <img src="images/html.png" alt="">
            </div>
            <div class="skill-image">
                <img src="images/css-3.png" alt="">
            </div>
            <div class="skill-image">
                <img src="images/js.png" alt="">
            </div>
            <div class="skill-image">
                <img src="images/programing.png" alt="">
            </div>
            <div class="skill-image">
                <img src="images/images.png" alt="">
            </div>
            <div class="skill-image">
                <img src="images/mysql.png" alt="">
            </div>
        </div>
    </section>

    <!-- PROJECTS SECTION  -->
    <section class="projects" id="projects">
        <h2 class="heading">Project<span>s</span></h2>


        <div class="project-container">
            <div class="project-box">
                <img src="images/Untitled design (1).png" alt="">
                <div class="project-layer">
                    <h4>Take a Look</h4>
                    <p>A E-commerce Web Platform for Retailers to sell Products. It's a fully integrated platform where
                        user can buy product easily with end to end navigation.</p>
                    <a href="https://fashion-view.onrender.com/" target="_blank"><i
                            class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-box">
                <img src="images/calculator.png" alt="">
                <div class="project-layer">
                    <h4>Take a Look</h4>
                    <p>A sleek and simple calculator built with HTML, CSS, and JavaScript. It performs basic arithmetic
                        operations with a clean and intuitive interface, showcasing the seamless integration of these
                        core web technologies.</p>
                    <a href="https://rajeevprajapatt.github.io/Calculator-/" target="_blank"><i
                            class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-box">
                <img src="/images/CurrencyConverter.png" alt="">
                <div class="project-layer">
                    <h4>Take a Look</h4>
                    <p>This project is a dynamic currency converter built using HTML, CSS, and JavaScript. It allows
                        users to convert between different currencies in real-time by fetching live exchange rates via
                        JavaScript APIs. The intuitive design and responsive interface make it easy to perform quick and
                        accurate conversions.</p>
                    <a href="https://rajeevprajapatt.github.io/Currency-Converter/" target="_blank"><i
                            class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="project-box">
                <img src="/images/Screenshot (637).png" alt="">
                <div class="project-layer">
                    <h4>Take a Look</h4>
                    <p>This project is a classic Rock, Paper, Scissors game developed with HTML, CSS, and JavaScript. It
                        offers an interactive and fun experience where users can play against the computer, with
                        real-time feedback and score tracking.</p>
                    <a href="https://rajeevprajapatt.github.io/Currency-Converter/" target="_blank"><i
                            class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- CONTACT SECTION  -->

    <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me</span></h2>

        <form action="/contactMessage" method="post">
            <div class="input-box">
                <input type="text" placeholder="Full Name...." name="name">
                <input type="email" placeholder="Email Address...." name="email">
            </div>

            <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message...."></textarea>
            <button class="btn" type="submit">Send Message</button>
            <!-- <a href=""><button class="btn">Old Messages</button></a> -->
        </form>
        <% if (locals.msg) { %>
            <p class="msg">
                <%= msg %>
            </p>
            <% } %>
    </section>

    <!-- FOOTER SECTION  -->

    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2024 Created By Rajeev Prajapat</p>
        </div>

        <div class="footer-iconTop">
            <a href="#home"><i class="fa-solid fa-angle-up"></i></a>
        </div>
    </footer>

    <script src="../public/js/app.js"></script>
</body>

</html>